body {
    background-color: black;
}

img {
    width: 320px;
}

.bat {
    margin-left: 100px;
    transition: transform .2s ease-in;
}


.field {
    border: 2px solid gray;
    cursor: grabbing;
}

.ball {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-image: radial-gradient(red, red, red, red, red, white, white, white);
    position: relative;
    left: 585px;
    transition: transform 1s ease-out .3s;
    

}

.field:hover .bat {
    transform: rotate(-65deg);
    transform-origin: top right;
}

.field:hover .ball {
    transform: translate(900px, -400px);
}